<div id="error">
  <h1>403 Forbidden</h>
  <p>
    <%=
      case @exception
      when ApplicationController::IpAddressRejected
        "あなたのIPアドレス(#{request.ip})からは利用できません。"
      else
        "指定したページの観覧権限がありませんん。"
      end
    %>
  </p>
</div>